body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul{
  list-style-type: none;
}
li{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100px;
  height: 100px;
  float: left;
}